<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.hibernate.tool.schema.internal.ExceptionHandlerLoggedImpl"
            level="ERROR"/>
    <logger name="org.hibernate.dialect.Dialect"                  level="ERROR"/>
    <logger name="org.hibernate.orm.deprecation"                   level="ERROR"/>

</configuration>
